:root {
  --color-primary: rgb(51, 51, 51);
  --color-cream: #F5F1EA;
  --color-cream-opa50: rgba(245, 241, 234, .5);
  --color-cream-opa10: rgba(245, 241, 234, .1);
  
  --box-shadow-start:
  0 0 0 160px var(--color-primary),
  0 0 0 165px var(--color-cream),
  0 0 0 225px var(--color-primary),
  0 0 0 230px var(--color-cream-opa50),
  0 0 0 290px var(--color-primary),
  0 0 0 295px var(--color-cream-opa10),
  0 0 0 3000px var(--color-primary);
  
  --box-shadow-full:
  0 0 0 60px var(--color-primary),
  0 0 0 65px var(--color-cream),
  0 0 0 125px var(--color-primary),
  0 0 0 130px var(--color-cream-opa50),
  0 0 0 190px var(--color-primary),
  0 0 0 195px var(--color-cream-opa10),
  0 0 0 3000px var(--color-primary);

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INFO  HIDE THE SCROLLBAR*/
::-webkit-scrollbar{
  display: none;
}

html {
  font-size: 62.5%;
}