:root {
  /* --color-primary: #719EC7; */
  --color-primary: #9A8CC0;

  /* --color-primary-hover: #456989; */
  --color-primary-hover: #796C9B;

  /* --filter-primary: invert(62%) sepia(84%) saturate(212%) hue-rotate(168deg) brightness(83%) contrast(86%); */
  --filter-primary: invert(65%) sepia(30%) saturate(392%) hue-rotate(215deg) brightness(85%) contrast(90%);

  --color-grey: #555;
  --color-cream: #f8f0e4;
  --color-black: #333333;
  --color-cream-opa50: #f8f0e480;
  --color-cream-opa10: #f8f8e41a;
  
  --bg-gradiant-1: linear-gradient(180deg, #F5F1EA 34.38%, rgba(245, 241, 234, 0.10) 75.52%, rgba(245, 241, 234, 0.00) 99.98%, rgba(102, 102, 102, 0.00) 99.99%, rgba(245, 241, 234, 0.00) 100%);
  --bg-gradiant-card-1: linear-gradient(to right bottom, var(--color-cream), var(--color-primary)); 
  --bg-gradiant-card-2: linear-gradient(to right bottom, var(--color-primary), var(--color-cream));; 

  /* To calcul between the top of the page and the picture */
  /* Take half the screen -> (50vh) half picture -> (250px) + name -> (68px) */
  --top-pc: calc((50vh - 318px) / 2 );
  --top-tablet: calc((50vh - 280px) / 2 );
  --top-smTablet: calc((50vh - 245px) / 2 );
  --top-mobile: calc((50vh - 195px) / 2 );

  --box-shadow-start:
  0 0 0 160px var(--color-primary),
  0 0 0 165px var(--color-cream),
  0 0 0 225px var(--color-primary),
  0 0 0 230px var(--color-cream-opa50),
  0 0 0 290px var(--color-primary),
  0 0 0 295px var(--color-cream-opa10),
  0 0 0 3000px var(--color-primary);
   
  --box-shadow-full:
  0 0 0 60px var(--color-primary),
  0 0 0 65px var(--color-cream),
  0 0 0 125px var(--color-primary),
  0 0 0 130px var(--color-cream-opa50),
  0 0 0 190px var(--color-primary),
  0 0 0 195px var(--color-cream-opa10),
  0 0 0 3000px var(--color-primary);

  --box-shadow-start-mobile:
  0 0 0 130px var(--color-primary),
  0 0 0 135px var(--color-cream),
  0 0 0 195px var(--color-primary),
  0 0 0 200px var(--color-cream-opa50),
  0 0 0 260px var(--color-primary),
  0 0 0 265px var(--color-cream-opa10),
  0 0 0 3000px var(--color-primary);
  
  --box-shadow-full-mobile:
  0 0 0 30px var(--color-primary),
  0 0 0 35px var(--color-cream),
  0 0 0 95px var(--color-primary),
  0 0 0 100px var(--color-cream-opa50),
  0 0 0 160px var(--color-primary),
  0 0 0 165px var(--color-cream-opa10),
  0 0 0 3000px var(--color-primary);

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INFO HIDE THE SCROLLBAR*/
::-webkit-scrollbar{
  display: none; 
}

html {
  font-size: 62.5%;
}

#myCanvas {

  @media (max-width: 800px) {
    width: 90vw;
    display: block;
  }
}
