:root {
  --color-primary: rgb(86, 138, 185);
  --color-cream: rgb(245, 241, 234);
  --color-cream-opa50: rgba(245, 241, 234, .5);
  --color-cream-opa10: rgba(245, 241, 234, .1);
  
  --bg-gradiant-1: linear-gradient(180deg, #F5F1EA 34.38%, rgba(245, 241, 234, 0.10) 75.52%, rgba(245, 241, 234, 0.00) 99.98%, rgba(102, 102, 102, 0.00) 99.99%, rgba(245, 241, 234, 0.00) 100%);

  --filter-primary: invert(46%) sepia(74%) saturate(312%) hue-rotate(166deg) brightness(96%) contrast(85%);
  

  --box-shadow-start:
  0 0 0 160px var(--color-primary),
  0 0 0 165px var(--color-cream),
  0 0 0 225px var(--color-primary),
  0 0 0 230px var(--color-cream-opa50),
  0 0 0 290px var(--color-primary),
  0 0 0 295px var(--color-cream-opa10),
  0 0 0 3000px var(--color-primary);
  
  --box-shadow-full:
  0 0 0 60px var(--color-primary),
  0 0 0 65px var(--color-cream),
  0 0 0 125px var(--color-primary),
  0 0 0 130px var(--color-cream-opa50),
  0 0 0 190px var(--color-primary),
  0 0 0 195px var(--color-cream-opa10),
  0 0 0 3000px var(--color-primary);

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INFO  HIDE THE SCROLLBAR*/
::-webkit-scrollbar{
  display: none; 
}

html {
  font-size: 62.5%;
}